* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



/*NAVBAR*/
#logo {
	font-family: 'Georgia'; 
	font-size: 2rem;
}

.nav-items {
	font-family: 'PT Sans';
}




/*BRANDING*/
#branding {
	background-image: url('../images/bground2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 165vh;
}

#branding-field {
	margin-top: 12%;
	text-align: center;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}

.branding-legend {
	width:auto; 
	font-family: 'Georgia'; 
	font-style: italic; 
	font-size: 1.25rem;
}

#branding-heading {
	font-size: 9rem;
	font-family: 'Georgia';
	font-weight: bold;
}

.branding-para {
	font-family: 'Open Sans';
	font-weight: bold;
}

.buttons {
	text-align: center;
	margin-top: 5%;
}

#btn1 {
	font-family: 'Georgia';
	font-style: italic;
	width: 15%;
	background-color: #54526F;
	border: 1px solid #54526F;
	color: white;
}
#btn1:hover {
	background-color: white;
	color: #54526F;
}

#btn2 {
	font-family: 'Georgia';
	font-style: italic;
	width: 15%;
	background-color: #A08898;
	border: 1px solid #A08898;
	color: white;
}
#btn2:hover {
	background-color: white;
	color: #A08898;
}


/*OUR WORX*/
#worx {
	background-color: #EBEBEB;
	padding-top: 6%;
	height: 130vh;
}

#worx-field {
	text-align: center;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}

.worx-legend {
	width:auto; 
	font-family: 'Georgia'; 
	font-style: italic; 
	font-size: 1.25rem;
}

#worx-heading {
	font-size: 6rem;
	font-family: 'Georgia';
	font-weight: bold;
}

#products {
	margin-top: 3%;
	border-bottom: 2px solid white;
	padding-bottom: 2%;
}

.product-name {
	font-family: 'Georgia';
	font-style: italic;
}

.product-desc {
	font-family: 'Georgia';
	font-style: italic;
	line-height: 2;
}

.product-buttons {
	text-align: center;
	margin-top: 3%;
}

#btn3 {
	font-family: 'Georgia';
	font-style: italic;
	width: 15%;
	background-color: #54526F;
	border: 1px solid #54526F;
	color: white;
}
#btn3:hover {
	background-color: white;
	color: #54526F;
}

#btn4 {
	font-family: 'Georgia';
	font-style: italic;
	width: 15%;
	background-color: #A08898;
	border: 1px solid #A08898;
	color: white;
}
#btn4:hover {
	background-color: white;
	color: #A08898;
}


/*AWESOME*/
#awesome {
	background-color: white;
	height: 50vh;
	padding-top: 4%;
}

.awesome-heading {
	font-family: 'Georgia';
	font-style: italic;
	font-size: 1.75rem;
}

.awesome-para {
	font-family: 'Georgia';
	font-style: italic;
	line-height: 2;
}

#btn5 {
	background-color: #4F4D4C;
	font-family: 'Georgia';
	font-style: italic;
	font-weight: bold;
	border: 1px solid #4F4D4C;
}
#btn5:hover {
	background-color: white;
	color: #4F4D4C;
}

#btn6 {
	background-color: #4F4D4C;
	font-family: 'Georgia';
	font-style: italic;
	font-weight: bold;
	border: 1px solid #4F4D4C;
}
#btn6:hover {
	background-color: white;
	color: #4F4D4C;
}

#btn7 {
	background-color: #4F4D4C;
	font-family: 'Georgia';
	font-style: italic;
	font-weight: bold;
	border: 1px solid #4F4D4C;
}
#btn7:hover {
	background-color: white;
	color: #4F4D4C;
}


/*FOOTER*/
#footer {
	background-color: #505050;
	height: 55vh;
	padding-top: 4%;
}

.footer-heading {
	font-family: 'Georgia';
	font-style: italic;
	font-size: 1.75rem;
	color: white;
}

.footer-para {
	font-family: 'Georgia';
	font-style: italic;
	line-height: 2;
	color: white;
}

.disclaimer {
	font-family: 'Open Sans';
	color: white;
	margin-top: 3%;
}


@media only screen and (max-width: 400px) {

	#branding-heading {
		font-size: 5rem;
	}

	#worx-heading {
		font-size: 4.5 rem;
	}

	#btn1 {
		width: 40%;
	}

	#btn2 {
		width: 50%;
	}

	#btn3 {
		width: 40%;
	}

	#btn4 {
		width: 50%;
	}

	#branding {
		height: 110vh;
	}

	#worx {
		height: 250vh;
	}

	#awesome {
		height: 80vh;
	}

	#footer {
		height: 80vh;
	}

}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	#btn1 {
		width: 20%;
	}

	#btn2 {
		width: 20%;
	}

	#btn3 {
		width: 20%;
	}

	#btn4 {
		width: 20%;
	}

	#branding {
		height: 110vh;
	}

	#worx {
		height: 80vh;
	}

	#awesome {
		height: 35vh;
	}

	#footer {
		height: 45vh;
	}
}